<div class="albums-container">
  <h1>Albums</h1>

  <div *ngIf="loading" class="loading">
    Loading albums...
  </div>

  <div *ngIf="error" class="error">
    {{ error }}
  </div>

  <div *ngIf="!loading && albums.length === 0 && !error" class="empty-state">
    <p>No albums found.</p>
  </div>

  <div *ngIf="!loading && albums.length > 0" class="albums-list">
    <div *ngFor="let album of albums" class="album-item">
      <div class="album-info">
        <h3>
          <a [routerLink]="['/albums', album.id]" class="album-link">
            {{ album.title }}
          </a>
        </h3>
        <p class="album-id">Album ID: {{ album.id }}</p>
      </div>
      <div class="album-actions">
        <button (click)="deleteAlbum(album.id)" class="btn-delete">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
